<!DOCTYPE html> 
<html lang="zh-CN"> 
<head> 
    <meta charset="UTF-8" /> 
    <title>三种定义方式</title> 
</head> 
<body> 
<script type="text/javascript"> 
    // 补充代码
    var add = new Function("num1","num2","return parseInt(num1+num2)"),
        sub = new Function("num1","num2","return parseInt(num1-num2)"),
        mul = new Function("num1","num2","return parseInt(num1*num2)"),
        divi = new Function("num1","num2","return parseInt(num1/num2)"),
        res = null;
    // 21 * 32 + 24 / 3 - 5
    res=sub(add(mul(21,32),divi(24,3)),5);
    console.log(res);
</script> 
</body> 
</html>
