<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="box">
        <ol>
            <li>道终来归正法</li>
            <li>课书聊自限三更</li>
            <li>网中跳出便飞腾</li>
            <li>首身离兮心不惩</li>
            <li>选取灵芝草尽芟</li>
        </ol>
        <ul>
            <li>前望舒使先驱兮</li>
            <li>端端正正人如月</li>
            <li>工夫却是花枝浅</li>
            <li>程文堆案晨兴早</li>
            <li>师尚父年浑未艾</li>
        </ul>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script>
    $(document).ready(function() {
      //此处填写代码
      $('ul li').css({'backgroundColor':'red'});
    //   $('ul li').css({'backgroundColor':'red'});
    });
    </script>
</body>
</html>